__pycache__/
reports/
result/
*.csv
*.json
*.txt
*.log
*.pkl
*.pt
*.pth
*.pkl.gz
*.pth.gz
*.pkl.tar.gz
*.pth.tar.gz
*.pkl.zip
*.pth.zip
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz